html, body {
  margin: 0;
  padding: 0;
}

  body {
    margin: 100px auto 0 auto;
    width: 80%;
    text-align: center;
    font-size: 19px;
  font-family: 'Reenie Beanie', cursive;
  }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  length: auto;
}
canvas {
  display: block;
  border: 5px solid black;
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
